---
import Layout from '@/layouts/layout.astro';
import Typography from '@/components/typography.tsx';
---

<Layout title="Welcome to AI Playground">
  <main>
    <div class="container mx-auto">
      <Typography Component="h1" className="text-center">Welcome to <span class="text-gradient">AI Playground</span></Typography>
    </div>
  </main>
</Layout>
