---
import Layout from '@/layouts/layout.astro';
import PrivatePage from '@/layouts/private-page.astro';
import Typography from '@/components/typography.tsx';
import Chat from '@/components/chat.tsx';
import { GET } from '@/pages/api/conversations/[...id].ts';

const { id } = Astro.params;

const conversationResponse = await GET(Astro);
const conversation = conversationResponse && conversationResponse?.status === 200
  ? await conversationResponse.json()
  : null;

if (!conversation) {
  return conversationResponse;
}
---

<Layout title="Conversation">
  <PrivatePage>
    <main>
      <div class="container mx-auto">
        <Typography Component="h1" className="text-center">{conversation.name}</Typography>

        <Chat id={id} client:load />
      </div>
    </main>
  </PrivatePage>
</Layout>
