---
import Layout from '@/layouts/Layout.astro';
import PrivatePage from '@/layouts/PrivatePage.astro';
import Chat from '@/components/Chat';
import { GET } from '@/pages/api/conversations/[...id].ts';

const { id } = Astro.params;

const conversationResponse = await GET(Astro);
const conversation = conversationResponse && conversationResponse?.status === 200
  ? await conversationResponse.json()
  : null;

if (!conversation) {
  return conversationResponse;
}
---

<Layout title="Conversation">
  <PrivatePage>
    <main>
      <h1>{conversation.name}</h1>

      <Chat id={id} client:load />
    </main>
  </PrivatePage>
</Layout>
