---
import Layout from '@/layouts/layout.astro';
import PrivatePage from '@/layouts/private-page.astro';
import Typography from '@/components/typography.tsx';
import {
  Card,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';
import { GET } from '@/pages/api/conversations/index.ts';

const conversationsResponse = await GET(Astro);
const conversations = await conversationsResponse.json() || [];
---

<Layout title="Conversation">
  <PrivatePage>
    <main>
      <div class="container mx-auto">
        <Typography Component="h1" className="text-center">Conversations</Typography>

        <div role="list" class="columns-2 py-8">
          {conversations.map((conversation) => (
            <a href={`/conversations/${conversation.id}`}>
              <Card client:load key={conversation.id}>
                <CardHeader>
                  <CardTitle>{conversation.name}</CardTitle>
                </CardHeader>
              </Card>
            </a>
          ))}
        </div>
      </div>
    </main>
  </PrivatePage>
</Layout>
