---
import Layout from '@src/layouts/Layout.astro';
import PrivatePage from '@src/layouts/PrivatePage.astro';
import ConversationCard from '@src/components/ConversationCard.astro';
import { GET } from '@src/pages/api/conversations/index.ts';

const conversationsResponse = await GET(Astro);
const conversations = await conversationsResponse.json() || [];
---

<Layout title="Conversation">
  <PrivatePage>
    <main>
      <h1>Conversations</h1>

      <div role="list" class="link-card-grid">
        {conversations.map((conversation) => (
          <a href={`/conversations/${conversation.id}`}>
            <ConversationCard
              key={conversation.id}
              name={conversation.name}
            />
          </a>
        ))}
      </div>
    </main>
  </PrivatePage>
</Layout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .link-card-grid a {
    text-decoration: none;
  }
</style>
