---
import Layout from '@/layouts/layout.astro';
import PrivatePage from '@/layouts/private-page.astro';
import Typography from '@/components/typography.tsx';
import ConversationCard from '@/components/conversation-card.tsx';
import NativeButton from '@/components/native-button.astro';
import { GET } from '@/pages/api/conversations/index.ts';
import type { Conversation } from '@/types.d.ts';

const conversationsResponse = await GET(Astro);
const conversations: Conversation[] = conversationsResponse && conversationsResponse?.ok
  ? await conversationsResponse.json()
  : [];
---

<Layout title="Conversation">
  <PrivatePage>
    <main>
      <div class="container mx-auto">
        <Typography Component="h1" className="text-center">Conversations</Typography>

        <div class="flex justify-center pt-12 pb-4">
          <NativeButton asLink href="/conversations/create" class="">Create new conversation</NativeButton>
        </div>

        <div role="list" class="grid grid-cols-2 gap-4 py-8">
          {conversations.map((conversation) => (
            <ConversationCard
              client:load
              id={conversation.id}
              name={conversation.name}
            />
          ))}
        </div>
      </div>
    </main>
  </PrivatePage>
</Layout>
