---
interface Props {
  provider: string;
}

const { provider } = Astro.props;
const providerMapping = {
  github: 'GitHub',
};
---

{provider === 'github' && (
  <button data-provider={provider} class="login">Login with {providerMapping?.[provider]}</button>
)}

<script>
  const { signIn } = await import('auth-astro/client');

  const triggerElementList = document.querySelectorAll('.login');

  triggerElementList?.forEach((triggerElement) => {
    triggerElement?.addEventListener('click', () => signIn(triggerElement.dataset?.provider));
  });
</script>
