---
import { getSession } from 'auth-astro/server';
import Login from '@src/components/Login.astro';

const me = await getSession(Astro.request);
---
{me ? (
  <slot />
) : (
  <>
    <h1>403 - This is a private page. Please login to access the content.</h1>

    <a href="/">Back to Home</a>
    <Login provider="github" />
  </>
)}
