---
import { getSession } from 'auth-astro/server';
import { Icon } from 'astro-icon/components';
import Login from '@/components/login.tsx';
import Typography from '@/components/typography.tsx';
import NativeButton from '@/components/native-button.astro';

const me = await getSession(Astro.request);
---
{me ? (
  <slot />
) : (
  <main>
    <div class="container mx-auto">
      <Typography Component="h1" className="text-center">403 - This is a private page.</Typography>

      <Typography Component="p" className="text-center">Please login to access the content.</Typography>

      <div class="grid grid-rows-1 gap-2 w-min m-auto py-8">
        <NativeButton>
          <Login client:only provider="github">
            <Icon name="mdi:github" size={18} class="mr-2 align-text-bottom" />
          </Login>
        </NativeButton>

        <NativeButton asLink href="/">Back to Home</NativeButton>
      </div>
    </div>
  </main>
)}
